.navbar {
  display: flex;
  background: transparent;
}
.navbar li a {
  font-size: var(--text-font);
  font-weight: 600;
  color: var(--p-color-in-bg);
  margin: 0 25px;
  transition: all ease 1s;
  background: transparent;
}

.navbar li a:hover {
  color: var(--button-bg);
}
