/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: YugiFont;
  src: url(src/assets/matrix-ii-bold.otf);
}

:root {
  --bg-color: rgb(0, 4, 40);
  --bg-gradient: linear-gradient(
    90deg,
    rgba(0, 4, 40, 1) 0%,
    rgba(0, 78, 146, 1) 100%
  );

  --big-font: 3rem;
  --text-font: 1.1rem;

  --p-color-in-bg: #ffffff;
  --p-color-out-bg: #1f1f1f;

  --big-title-bg: rgb(197, 118, 118);
  --big-title-gradient: linear-gradient(
    180deg,
    rgba(197, 118, 118, 1) 15%,
    rgba(255, 255, 255, 1) 30%,
    rgba(30, 30, 30, 1) 90%
  );

  --button-bg: rgb(204, 43, 94);
  --button-gradient: linear-gradient(
    90deg,
    rgba(204, 43, 94, 1) 0%,
    rgba(117, 58, 136, 1) 100%
  );

  --sub-title-color: rgb(0, 0, 0);
  --sub-title-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 34%,
    rgba(204, 43, 94, 1) 60%
  );

  --blue-subtitle-bg: rgb(0, 4, 40);
  --blue-subtitle-gradient: linear-gradient(
    180deg,
    rgba(0, 4, 40, 1) 34%,
    rgba(0, 78, 146, 1) 60%
  );

  --danger-color: rgb(240, 0, 0);
  --danger-gradient: linear-gradient(
    90deg,
    rgba(240, 0, 0, 1) 0%,
    rgba(220, 40, 30, 1) 100%
  );
}

body {
  overflow-x: hidden;
}
